:host {
  padding: 1.3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.7rem;
  margin-bottom: 1rem;

  * {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
